a {
	color: #1a6193;
}

code {
	color: #2d2f56;
}

.title_slide header {
	text-align: center;
}

.title_slide h1 {
	font-size: 8rem;
}

.title_slide img {
	position: absolute;
	float: right;
	top: 0;
	right: 0;
	height: 100%;
}

/* Double-height title */
.title_slide section {
	top: 350px;
}

.full_image img {
	height: 120%;
}

.full_image .inner section {
	top: 0;
}

.bg-img {
	background-size: cover;
}

.bg-img h2 {
	filter: drop-shadow(2px 2px white);
	backdrop-filter: blur(1px) brightness(75%);
}

.bg-img li {
	color: white;
	backdrop-filter: blur(1px) brightness(75%);
	filter: drop-shadow(2px 2px black);
}

.bg-trixie {
	background-image: url(images/ceratopsian.svg);
}

.bg-community {
	background-image: url(images/aigarius-wedding-IMG_1561.jpg);
}

.bg-debconf1 {
	background-image: url(images/debconf1.jpg);
}

.bg-standup {
	background-image: url(images/aigarius-IMG_1258.JPG);
}

.bg-dc18-hacklab {
	background-image: url(images/IMG_4412-small.JPG);
}

.bg-dc25-cpu {
	background-image: url(images/stefanor-2025-07-09_15.09.15.jpg);
}

.bg-dc23-talk {
	background-image: url(images/IMG_2876.JPG);
}
